@media (min-width: 42rem) {

.container{
    min-width: 120rem;
    
}

.top-logo{
    margin: 0rem;
    width: 21rem;
    height: 8.5rem  ;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem 0rem 2rem;
    position: sticky;
    top: 0;
   background-image: url('./Mobile Assets - Home/hero-image.jpg');
    z-index: 1000;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}


.header-cta{
    display:inline-block;
    width: 22rem;
    padding: 1rem 1rem;
}

.hero-section{
    padding-top:5rem;
}

.hero-cta{
    display: none;
    position: static;
    box-shadow: none;
}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
 
 

}

.hero-img{
    width: 49rem;
    height: 36.5rem;
    order: 2;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 54rem;
    order: 1;
}

.hero-header{
    font-size: 6.5rem;
}

.hero-subheader{
    font-size: 1.8rem;
    line-height: 1.4;
}

.carousel-arrow{
    display: none;
    visibility: hidden;

}

.spacer3{
    padding: .5rem 3rem;
}

.about-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-service{
    width: 100%;
    height:28rem;
    display: block;
}

.service-section{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.about-img{
    width: 60rem;
    height: auto;
}

.about-text{
    padding: 13rem 7rem;
}

.reels-header{
    font-size: 4rem;

}

.video{
    width: 72rem;
    height: 41rem;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.reels-section{
    margin-bottom: 8rem;
}

.testimonial-arrow{
    display: none;
    visibility: hidden;

}

.testimonial-card{
    width: 31rem;
    height: 26rem;

}

.section-testimonial{
    padding: 0 10rem;
}

.contact-section{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contact-info{
    padding: 6rem 3rem;
    order: 1;
   
}

.map-container{
    width: 51rem;
    height: 41rem;
    border-radius: 22px;


}

.footer-logo{
    width: 37rem;
    height: 15rem;

}

.footer-cta-header{
    font-size: 4rem;
}


.footer-cta-text{
    font-size: 1.5rem;
        max-width: 42rem;
}

.footer-cta{
    width: 25rem;
    padding: 1.8rem 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s;
    line-height: .9;
    letter-spacing: .75px;
}

.map-container{
    order: 2;
}

.contact-info{
    order: 1;
   
}


}